/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg-color: #000028;

  --h1-text-color: #DB00FF;
  --h1-shadow-color: #FF0070;
  --header-desc-text-color: #000028;
  --header-desc-bg-color: #FF0070;
  --upper-text-color: #FF0070;
  --page-bg-color: #000028;
  --main-text-color: #F1B2CE;

  --answer-title-text-color: #000028;
  --answer-title-bg-color: #FF0070;
  --button-hover-border-color: #FF007066;

  --rec-color: #FF0070;
  --decoration-color: #FF0070;
}

.theme-dark .header {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-image: url("../images/cover-image-dark.png");
}
