/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --h1-text-color: #FFC2E6;
  
  --h1-shadow-color: #FF8DCB;
  --header-desc-text-color: #000028;
  --header-desc-bg-color: #FF8DCB;
  --upper-text-color: #353430;
  --page-bg-color: #FFF1F7;
  --main-text-color: #353430;
;

  --answer-title-text-color: #353430;
  --answer-title-bg-color: #FF8DCB;
  --button-hover-border-color: #32312D66;

  --rec-color: transparent;
  --decoration-color: #353430;
}

.theme-light .header {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-image: url("../images/cover-image-light.png");
}


