/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: 'IBM Plex Mono';
  background-color: var(--page-bg-color);
  display: flex;
  flex-direction: column; 
  /* grid-template-columns: 1fr; */
  gap: 40px;
  background-attachment: fixed;
  line-height: 23.4px;
  font-size: 18px;
}

.header {
  display: flex;
  flex-direction: column;
  background-image: url("../images/cover-image-dark.png");
  gap: 50px;
  padding: 10px;
  position: relative;
  justify-content:space-evenly;
  block-size: 100vh;
}

.header__theme-menu {
  color: var(--upper-text-color);
  align-self: end;
  margin-top: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 300;
}

.main-title {
  color: var(--h1-text-color);
  text-shadow: 4px 4px var(--h1-shadow-color);
  text-align: left;
  font-size: 116px;
  font-weight: 700;
  padding: 0;
}

.header__description {
  background-color: var(--header-desc-bg-color);
  color: var(--header-desc-text-color);
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  margin: 0 10px 66px;
  
}

.header::after {
  content: "REC";
  position: absolute;
  right: 38px;
  top: 10px;
  color: var(--rec-color);
  width: 33px;
  height: 26px;
}

.header::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  border-top: 1px solid var(--decoration-color);
  border-right: 1px solid var(--decoration-color);
  width: 25px;
  height: 25px;
}

.header__description::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  border-bottom: 1px solid var(--decoration-color);
  border-left: 1px solid var(--decoration-color);
  width: 25px;
  height: 25px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 10px;
}

.answer__description {
  color: var(--main-text-color);
}

.question {
  color: var(--upper-text-color);
  font-size: 18px;
}

.last-question {
  color: var(--answer-title-text-color);
  background-color: var(--answer-title-bg-color);
  
  
}

.answer__title {
  background-color: var(--answer-title-bg-color);
  color: var(--answer-title-text-color);
  height: fit-content;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.answer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
  align-items: start;
}

.answers {
  display: grid;
  gap: 10px;
}

.article__title {
  background-color: var(--answer-title-bg-color);
  color: var(--answer-title-text-color);
  font-size: 18px;
  font-weight: 400;
}

.article__description {
  color: var(--main-text-color);
}

.answer-type-list__title {
  margin-bottom: 10px;
}

.advices-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.advices-list li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img {
  width: 100%;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.reference {
  text-decoration: none;
  text-shadow: 2px 2px var(--h1-shadow-color);
}

.footer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  border-top: 1px solid var(--decoration-color);
  border-right: 1px solid var(--decoration-color);
  width: 25px;
  height: 25px;
}

.footer::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  border-bottom: 1px solid var(--decoration-color);
  border-left: 1px solid var(--decoration-color);
  width: 25px;
  height: 25px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-border-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--button-hover-border-color);
}

.reference:hover {
  text-decoration: underline;
}

.reference:focus {
  border: 1px solid var(--main-text-color);
}

.header .main-title {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}




@media (width >= 376px) {
  .main {
    gap: 80px;
  }

  .main-title {
    font-size: 120px;
  }

  .header {
    padding: 20px;
  }

  .main {
    padding: 20px;
  }

  .header::after {
    right: 48px;
    top: 20px;
  }

  .header::before {
    right: 20px;
    top: 20px;
  }

  .header__description::after {
    left: 20px;
    bottom: 20px;
  }

  .footer::after {
    left: 20px;
    bottom: 20px;
  }

  .footer::before {
    right: 20px;
    top: 20px;
    position: absolute;
  }


  .section:nth-child(2n + 1) {
    grid-template-columns: 1fr 2fr;
    
  }

  .header__description {
    width: 50%;
    align-self: flex-end;
    
    padding: 0;
  }

  .image-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 3fr;
    grid-template-areas: 
    "img1 img1 img2"
    "img3 img4 img2"
    "img3 img5 img5";

    min-block-size: 1048px;
    max-block-size: 1048px;
    gap: 20px;
    
  }

  .image-container li:nth-child(1) {
    grid-area: img1;
  }
  .image-container li:nth-child(2) {
    grid-area: img2;
  }
  .image-container li:nth-child(3) {
    grid-area: img3;
  }
  .image-container li:nth-child(4) {
    grid-area: img4;
  }
  .image-container li:nth-child(5) {
    grid-area: img5;
  }

  .img {
    height: 100%;
    object-fit: cover;
  }
}

@media (width > 768px) {
  .main-title {
    font-size: 157px;
  }


  .header {
    justify-content: space-between;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    margin-top: 0;
    align-self: center;
  }

  .section:nth-child(2n) {
    grid-template-columns: 1fr;
  }

  .section:nth-child(2n):not(:last-child) .question {
    inline-size: 33%; 
  }

  .section:nth-child(2n) .answers {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

