/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: 'IBM Plex Mono';
  background-color: #000028;
  display: flex;
  flex-direction: column; 
  /* grid-template-columns: 1fr; */
  gap: 40px;
}

.header {
  display: flex;
  flex-direction: column;
  background-image: url("../images/cover-image-dark.png");
  gap: 50px;
  padding: 10px;
  position: relative;
  justify-content:space-evenly;
  block-size: 100vh;
}

.header__theme-menu {
  color: var(--upper-text-color); 
  align-self: end;
  margin-top: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 300;
}

.main-title {
  color: var(--h1-text-color);
  text-shadow: 4px 4px var(--h1-shadow-color);
  text-align: left;
  font-size: 116px;
  font-weight: 700;
  border: 4px solid white;
  padding: 0;
}

.header__description {
  background-color: var(--header-desc-bg-color);    
  color: var(--header-desc-text-color);
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  margin: 0 10px 66px;
}

.header::after {
  content: "REC";
  position: absolute;
  right: 38px;
  top: 10px;
  color: var(--upper-text-color);
  width: 33px;
  height: 26px;
}

.header::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  border-top: 1px solid var(--header-desc-bg-color);
  border-right: 1px solid var(--header-desc-bg-color);
  width: 25px;
  height: 25px;
}

.header__description::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  border-bottom: 1px solid var(--header-desc-bg-color);
  border-left: 1px solid var(--header-desc-bg-color);
  width: 25px;
  height: 25px; 
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 10px;
}

.answer__description {
  color: var(--main-text-color);
}

.question {
  color: var(--upper-text-color);
}

.answer__title {
  background-color: var(--answer-title-bg-color);
  color: var(--answer-title-text-color);
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.answer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.article__title {
  background-color: var(--answer-title-bg-color);
  color: var(--answer-title-text-color);
  font-size: 18px;
  font-weight: 400;
}

.article__description {
  color: var(--main-text-color);
}

.answer-type-list__title {
  margin-bottom: 10px;
}

.advices-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.advices-list li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img {
  width: 100%;
}

.image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reference {
  text-decoration: none;
  text-shadow: 2px 2px var(--h1-shadow-color);
}

.footer {
  height: 668px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  border-top: 1px solid var(--header-desc-bg-color);
  border-right: 1px solid var(--header-desc-bg-color);
  width: 25px;
  height: 25px;
}

.footer::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  border-bottom: 1px solid var(--header-desc-bg-color);
  border-left: 1px solid var(--header-desc-bg-color);
  width: 25px;
  height: 25px; 
}

@media (width >= 376px) and (width <= 768px)  {
  .header__description {
    width: 50%;
    align-self: flex-end;
  }

  .section {
    grid-template-columns: 1fr 1fr;
  }
}