/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --h1-text-color: #FFC2E6;
  
  --h1-shadow-color: #FF8DCB;
  --header-desc-text-color: #000028;
  --header-desc-bg-color: #FF8DCB;
  --upper-text-color: #353430;
  --page-bg-color: #FFF1F7;
  --main-text-color: #353430;
;

  --answer-title-text-color: #353430;
  --answer-title-bg-color: #FF8DCB;
  --button-hover-border-color: #32312D66;

  --rec-color: transparent;
  --decoration-color: #353430;
}